@mixin font ($size, $height, $weight: 400, $style: normal) {
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
	line-height: $height;
}

@mixin columns ($width) {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	>* {
		flex-basis: $width;
	}
}