.logo {
	display: flex;
	align-items: center;
	height: 32px;
}

.logo-object {
	@include media-mobile {
		width: 158px;
	}
}

.logo-path {
	@extend %transition;
}

.logo-svg:hover {
	.logo-path {
		fill: $color-additional;
	}

	cursor: pointer;
}