%transition {
	transition: all 0.3s ease-in-out;
}

%font-primary {
	font-family: 'Open Sans', Verdana, sans-serif;
}

%font-add {
	font-family: 'Poppins', Verdana, sans-serif;
}

%heading-color {
	color: $color-heading;
}