$img-gap: 32px;

.about {
	padding: 30px 0 100px;
}

.about__title {
	margin: 0 0 14px;
}

.about__description {
	margin: 0 0 45px;
}

.employee {
	position: relative;
	display: flex;
	max-width: calc(31.52% - $img-gap);
	padding: 35px;
}

.employee__block {
	margin-right: $img-gap;
}

.employee__content {
	width: 220px;
}

.employee__name {
	margin: 0;
}

.employee__position {
	margin: 0;
}

.employee__email {
	text-decoration: none;
	color: $color-link;

	&:hover {
		text-decoration: underline;
	}
}

.employee__img {
	position: absolute;
	top: 20px;
	right: -32px;
	width: 98px;
	height: 98px;
	border-radius: 50%;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}